@import url('../main.css');

.overview {
    position: relative;
    padding: 10px 1rem;
}


.member-details__container {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.member-details__container .qr-code {
    align-items: center;
}

.member-membership .membership-info {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.member-membership .membership-info-items {
    padding: 5px 8px;
    display: flex;
    gap: 1rem;
}

.member-membership .membership-title {
    font-size: 1rem;
    font-weight: 500;
}

.membership-detail{
    border: 1px solid gray;
    width: 100%;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.membership-date {
    font-size: 25px;
    font-weight: 700;
}


.qr-code{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.qr-code span{
    font-size: 1.2rem;
    font-weight: 600;
}

.member-qr {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    height: fit-content;
    padding: 10px;
    background-color: var(--light-bg);
}