@import url('../main.css');


.member-profile {
    position: relative;
    width: 100%;
    height: 100%;
}


.member-profile-overlay {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 5rem;
    background-color: var(--text-green);
    border-radius: 5px 5px 0 0;
}


.member-profile-overlay {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-edit-container {
    margin-top: 10px;
}

.edit-image-btn {
    background-color: transparent;
    color: white;
    padding: 5px 10px;
    border: 2px solid var(--light-bg);
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;

}


.members-detail-icon {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
}


.member-profile-overlay img {
    position: absolute;
    background-color: var(--light-bg);
    border-radius: 50%;
    top: 30px;
    left: 2rem;
    width: 90px;
    height: 90px;
}

.members__form {
    font-family: 'Poppins', monospace;
    display: flex;
    flex-direction: column;
    /* max-width: 350px; */
    margin: 3.5rem 2rem;
    gap: 10px;
    padding: 10px 0px;
}

.members__form em {
    font-size: 12px;
    display: block;
    color: var(--red-clr);
}

.members__form-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
}

.members__form-items label {
    font-size: 1rem;
}

.members__form-items input {
    width: 350px;
    min-width: 200px;
    font-family: inherit;
    padding: 10px;
    border: 1px solid rgba(17, 17, 17, 0.2);
    border-radius: 5px;
    font-size: 10px;
    /* opacity: 0.5; */
}

.members__form-btn {
    font-family: inherit;
    background-color: var(--text-green);
    border: none;
    border-radius: 10px;
    color: var(--light-bg);
    cursor: pointer;
    width: 90px;
    padding: 8px;
    transition: transform 0.3s ease;
}

.members__form-btn:hover {
    transform: translateY(-5px);
}

.members__form-btn:active {
    background-color: var(--main-green);
}


.submit-message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
}

.submit-message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.submit-message.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.member-profile-overlay {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.members-detail-icon {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.members__form-btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}