@import url('../main.css');

.post-card__container {
    position: relative;
    width: 100%;
    border: 1px solid rgba(17, 17, 17, 0.2);
    padding: 10px;
    border-radius: 5px;
}

.post-card-detail {
    display: flex;
    margin-bottom: 10px;
}

.post-info {
    display: flex;
    align-items: center;
}

.post-info img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.post-card-details {
    display: flex;
    flex-direction: column;
}

.post-card-date {
    font-size: 12px;
    opacity: 0.6;
}

.post-cards {
    border-bottom: 1px solid rgba(17, 17, 17, 0.2);
    padding: 10px 0px;
}

.post-cards span {
    padding: 5px;
}